:root {
  --clr-primary-600: #a4ffaf;
  --clr-primary-500: #24232c;
  --clr-primary-400: #817d92;
  --clr-primary-300: #e6e5ea;

  --clr-secondary-600: #18171f;
  --clr-secondary-500: #f64a4a;
  --clr-secondary-400: #fb7c58;
  --clr-secondary-300: #f8cd65;
}

body {
  font-family: 'JetBrains Mono', monospace;
  min-height: 100vh;
  background-color: var(--clr-secondary-600);
  color: var(--clr-primary-300);
  padding-top: 13.3rem;

}

.container {
  max-width: 57.2rem;
  padding: 0 1.6rem;
  margin: 0 auto;
}

.main-title {
  margin-bottom: 3.1rem;
  font-size: 2.4rem;
  color: var(--clr-primary-400);
  text-align: center;
}

.main-output {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 8rem;
  padding: 1.9rem 3.2rem;
  background-color: var(--clr-primary-500);
}

.main-password {
  font-size: 3.2rem;
  line-height: 4.2rem;
}

.copy-logo {
  transition: transform .05s ease-in-out;
  cursor: pointer;
}

.copy-logo path {
  transition: fill .3s ease-in-out;
}

.copy-logo:hover path{
  fill: white;
}

.copy-logo:active {
  transform: translateY(1px);
}

.generate {
  margin-top: 2.4rem;
  background-color: var(--clr-primary-500);
  padding: 2.4rem 3.2rem 3.2rem;
  font-size: 1.8rem;
}

.generate-title-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2.6rem;
}

.generated-length {
  font-size: 3.2rem;
  color: var(--clr-primary-600);
}

.password-strength {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 7.1rem;
  padding: 2rem 3.2rem;
  background-color: var(--clr-secondary-600);
  margin: 3.2rem 0;
}

.password-strength > p {
  color: var(--clr-primary-400);
  font-size: 1.8rem;
}

.password-strength p {
  text-transform: uppercase;
}

.strength-output {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  font-size: 2.4rem;
}

.bars {
  display: flex;
  gap: 8px;
}

.bar {
  width: 1rem;
  height: 2.8rem;
  border: 2px solid var(--clr-primary-300);
}

.bars.strong .bar {
  background-color: var(--clr-primary-600);
  border-color: var(--clr-primary-600);
}

.bars.medium .bar:not(:last-child) {
  background-color: #F8CD65;
  border-color: #F8CD65;
}

.bars.weak .bar:first-child {
  background-color: #FB7C58;
  border-color: #FB7C58;
}

.bars.weak .bar:nth-child(2) {
  background-color: #FB7C58;
  border-color: #FB7C58;
}

.bars.too-weak .bar:first-child {
  background-color: #F64A4A;
  border-color: #F64A4A;
}


.btn-generate {
  display: block;
  padding: 1.9rem 0 1.8rem;
  width: 100%;
  background-color: var(--clr-primary-600);
  border: 2px solid var(--clr-primary-600);
  outline: none;
  color: var(--clr-secondary-600);
  text-transform: uppercase;
  line-height: 2.4rem;
  cursor: pointer;
  transition: all .3s ease;
}

.btn-generate:hover {
  background-color: transparent;
  color: var(--clr-primary-600);
}

.btn-generate:active {
  transform: translateY(2px);
}

.arrow-right path {
  transition: fill .3s ease;
}

.btn-generate:hover .arrow-right path {
  fill: var(--clr-primary-600)
}

@media (max-width: 500px) {
  .main-output {
    font-size: 2.4rem;
  }

  .main-password {
    font-size: 2.4rem;
  }

  .generate {
    padding: 1.6rem;
  }

  .password-strength > p {
    font-size: 1.6rem;
  }

  .strength-output > p {
    font-size: 1.8rem;
  }
}

